.RepositoryDetails {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  > *:first-child {
    width: 100px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
