.AccordionPanel {
  border: 1px solid var(--lightGreyColor);
}
.AccordionPanel + .AccordionPanel{
  border-top: none;
}

.content {
    max-height: 0;
    transition: all 0.5s ease-out;
    overflow: hidden;
    &.contentExpanded {
      height: auto;
      max-height: 999999px;
    }
  }

  .title {
    background-color: #ffffff;
    transition: background-color 1s ease-out;
    &.titleActive {
        background-color: var(--bgDarkColor);
    }
  }
